<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header"></div>
<br>
<div>
    <form class="form-horizontal" method="post" th:action="@{/add}" th:object="${review}">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="text">Text: </label>
            <div class="col-sm-8">
                <input class="form-control" id="text" type="text" th:field="*{text}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="rating">Rating: </label>
            <div class="col-sm-8">
                <input class="form-control" id="rating" step="0.1" min="0" max="5" type="number" th:field="*{rating}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email: </label>
            <div class="col-sm-8">
                <input class="form-control" id="email" type="email" th:field="*{user.email}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name: </label>
            <div class="col-sm-8">
                <input class="form-control" id="name" type="text" th:field="*{user.name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="surname">Surname: </label>
            <div class="col-sm-8">
                <input class="form-control" id="surname" type="text" th:field="*{user.surname}"/>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
            <input class="btn btn-info" type="submit" value="Create"/>
            <input class="btn btn" type="reset" value="Clear"/>
            <br>
            <br>
            <a class="btn-lg btn-info" href="/">Go to all reviews</a>
        </div>
    </form>
</div>
</body>
</html>